# Ignore Visual Studio files
*.obj
#*.exe
#*.pdb
*.user
*.aps
*.pch
*.vspscc
.vshost.
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tlog
*.idb
*.sdf
*.mdf
*.ldf
*.dbmdl
*.opensdf
.embed.
.intermediate.
*.lastbuildstate
*_manifest.rc
*.ipch
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.docstates
*.[Pp]ublish.xml
packages/*
imagecache/